.container-fluid1 {
    padding-top: 40px;
    background-color:rgb(119, 172, 208);
    padding-bottom: 40px;
}

.btnPos {
    background-color:rgb(26, 63, 150);
}

.titulo1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container-fluid2 {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: rgb(9, 46, 66);
    
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:greenyellow;
}

.titulo1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}

.titulo2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.imghvr-fade {
    
    transition: opacity 0.5s ease-in-out;
}

.imghvr-fade:hover {

    opacity: 0.2;
}

.tam{

    font-size: larger;
}

.fondo1 {
    background-color: rgb(92, 161, 178);
    padding-top: 20px;
    padding-bottom: 20px;
}
