.banner1 {
    background-image: url("../imagenes/banner-fru.jpg");
    background-size: cover;
    background-position: center;
}

.container-fluid1 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.btnPos {
    background-color: rgb(238, 105, 189);
}

.btnPos2 {
    background-color: rgb(102, 113, 196);
}


.btnPos3 {
    background-color: rgb(20, 163, 37);
}

.titulo1{
    color: rgb(181, 56, 122);
    font-weight: bolder;
    
}

.box{
    background-image: url('../imagenes/plato.jpg');
    background-size: cover;

}



p {
    align-items: left;
    
}

h3{
    color: gray;
}

.col{
    color: black;
}

.fondo1{
    background-color: rgb(42, 111, 208) ;
    padding-top: 40px;
     padding-bottom: 40px;
 
 }
 
 .tam{
 
     font-size: larger;
 }