.container-fluid1 {
    padding-top: 40px;
    background-color:rgb(174, 204, 53);
    padding-bottom: 40px;
}

.titulo1 {
    
        color: #000;
        font-size: 50px;
    
}

.titulo2 {
    
    color: #0a91cf;
    font-size: 40px;
    padding-top: 40px ;

}

.titulo3 {
    
    color:#0a91cf;
    font-size: 25px;

}


.btnPos {
    background-color:rgb(146, 237, 100);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.back{
    background-color: rgb(9, 9, 97);
}

h2,h4,h5,h1,p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fondo1{
    background-color: rgb(92, 128, 178) ;
    padding-top: 20px;
     padding-bottom: 20px;
 
 }

 .tam{

    font-size: larger;
}

.container-fluid2 {
    padding-top: 30px;
    padding-bottom: 50px;
    
}