.container-fluid1 {
    padding-top: 40px;
    background-color:rgb(77, 121, 140);
    padding-bottom: 40px;
}

.btnPos {
    background-color:rgb(17, 45, 101);
}


.container-fluid2 {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color:rgb(224, 241, 252);
}


.titulo1 {
    color: #689436;
    font-size: 40px;
}


i {
    font-size: 70px;
    color: #689436;
}

.texto{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.fondo1{
   background-color: rgb(6, 37, 79) ;
   padding-top: 40px;
    padding-bottom: 40px;

}

.tam{

    font-size: larger;
}