.navbar {
    background-color: #003F5F; 
  }
  
  
  .navbar-nav .nav-link {
    color: #ffffff; 
  }
  

  .navbar-nav .nav-item {
    background-color:rgb(144, 176, 235); 
  }
  
  .navbar-nav .nav-item:hover {
    background-color: #003d6b; /
  }
  
  
  .navbar-nav .nav-item.active {
    background-color: #003d6b; 
  }
  
  .custom-toggler .navbar-toggler {
    color: #ffffff;
    background-color: #ffffff;
  }
  .custom-toggler .navbar-toggler-icon {
    filter: invert(1); 
    border-color: #ffffff;
    box-shadow: #ffffff;
    
  }

  .navbar-toggler i {
    color: #ffffff;
    font-size: 27px;
}

  
.container-fluid {
    padding-top: 180px;
    padding-bottom: 80px;
}

.fondo1 {
    background-color: #e2e2e2;
    color: #000000;
}

.espacio {
    display: inline-block;
    margin: 0px 15px 0px 15px;
}


.banner5 {
    background-image: url("../imagenes/reception.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-fluid8 {
    padding-top: 400px;
    padding-bottom: 400px;
}

i{
    color: rgb(26, 105, 125);
    font-size: 50px;
}

 
.dropdown-menu {
    background-color: #fff;
    border: none;
}

.lista:hover {
    color: rgb(17, 50, 143);
    background-color: #090331;
    border-color: rgb(17, 50, 143);
    border-width: 2px;
}

.list-group-item{
    background-color: rgb(0, 108, 185);
}

.col{
    background-color: #0b064a;
}

.space1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight:300;
    font-style: normal;
  }