*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.wave-header{
    min-height: 90vh;
    width: 100%;
    z-index: 4;
    position: relative;
    background-color: rgb(220, 229, 245);
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
}


.navbar {
    background-color: #003F5F; 
  }
  
  
  .navbar-nav .nav-link {
    color: #ffffff; 
  }
  

  .navbar-nav .nav-item {
    background-color:rgb(144, 176, 235); 
  }
  
  .navbar-nav .nav-item:hover {
    background-color: #003d6b; /
  }
  
  
  .navbar-nav .nav-item.active {
    background-color: #003d6b; 
  }
  
  .custom-toggler .navbar-toggler {
    color: #ffffff;
    background-color: #ffffff;
  }
  .custom-toggler .navbar-toggler-icon {
    filter: invert(1); 
    border-color: #ffffff;
    box-shadow: #ffffff;
    
  }

  .mapa{
    background-color: rgb(220, 229, 245);
    
    padding-top: 40px;
}


.forma1 {
    clip-path: polygon(40% 0%, 31% 26%, 100% 20%, 100% 80%, 32% 72%, 40% 100%, 0% 50%);
}

.back {
    background-color: rgb(220, 229, 245);
}

.img-derecha {
    display: grid;
    justify-items: end;
}

.n{
 color: #051256;
}

header{
    background-color: rgb(220, 229, 245);
}

i{
    color: #fff;
    font-size: 50px;
}


.container-fluid2 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.titulo2 {
    font-size: 40px;
    color: #fff;
}

.fondo3 {
    background-color: #051256;
}